# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Ignore all logs
*.log
*.prev.log

# Visual Studio
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# JetBrains Rider
*.DotSettings.user
/[Aa]ssets/Plugins/Editor/JetBrains*

# Gradle
.gradle/

# Blender temporary
*.blend1
*.blend1.meta

# Memory captures
/[Mm]emoryCaptures/

# Recordings
/[Rr]ecordings/

# Addressables
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[ Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Crash files
sysinfo.txt
mono_crash.*
crashlytics-build.properties

# Builds
*.apk
*.aab
*.unitypackage
*.app
WSEICRAFT_project_2026/Logs/AssetImportWorker1.log
WSEICRAFT_project_2026/Logs/AssetImportWorker0-prev.log
WSEICRAFT_project_2026/Logs/AssetImportWorker1-prev.log
WSEICRAFT_project_2026/Logs/AssetImportWorker1.log
